AndroidCore/Web References/TranslationReference/TranslationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.75.10:59027/WebServices/TranslationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" />
  <xs:import schemaLocation="http://192.168.75.10:59027/WebServices/TranslationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DisplayTranslations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayTranslationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" minOccurs="0" name="DisplayTranslationsResult" nillable="true" type="q1:ArrayOfTranslation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayTranslationsByPhraseId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phraseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayTranslationsByPhraseIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" minOccurs="0" name="DisplayTranslationsByPhraseIdResult" nillable="true" type="q2:ArrayOfTranslation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayTranslationByLexicon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lexicon" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayTranslationByLexiconResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" minOccurs="0" name="DisplayTranslationByLexiconResult" nillable="true" type="q3:ArrayOfTranslation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayTranslationByFirstLetter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="character" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayTranslationByFirstLetterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" minOccurs="0" name="DisplayTranslationByFirstLetterResult" nillable="true" type="q4:ArrayOfTranslation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayTranslationByLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="languageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayTranslationByLanguageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" minOccurs="0" name="DisplayTranslationByLanguageResult" nillable="true" type="q5:ArrayOfTranslation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayAllLexicalByLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="languageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayAllLexicalByLanguageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DisplayAllLexicalByLanguageResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTranslation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" minOccurs="0" name="translation" nillable="true" type="q7:Translation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTranslationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTranslationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTranslation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" minOccurs="0" name="translation" nillable="true" type="q8:Translation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTranslationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTranslationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTranslation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTranslationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTranslationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>